:root {
    --tw-bg-opacity: 1;
    --background-dark: rgb(0 0 0/1);
    --background-white: #FFFFFF;
    --font-primary: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --font-color-dark: #202020;
    --font-color-gray: #646464;
    --font-color-gray2: #2a2a2a;
    --font-color-white: #eee;
    --window-width: 40%;
    --border-home:  1px solid #2a2a2a;
    --button-color: #b4b4b4;
}

@keyframes rainbow2{
    100%,0%{
        color: #FEC401;
    }
    8%{
        color: #FFA81B;
    }
    16%{
        color: #FEC401;
    }
    25%{
        color: #FF7739;
    }
    33%{
        color: #FD4D62;
    }
    41%{
        color: #FD4380;
    }
    50%{
        color: #E5097F;
    }
    58%{
        color: #C90469;
    }
    66%{
        color: #FF5252;
    }
    75%{
        color: #FF5252;
    }
    83%{
        color: #FF7739;
    }
    91%{
        color: #FEC401;
    }
}  

@keyframes rainbow {
    0% {
        color: #f04dff
    }

    25% {
        color: #ff4d4d
    }

    50% {
        color: #ffc54d
    }

    75% {
        color: #6aed76
    }

    to {
        color: #09f
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-white);
    font-family: var(--font-primary);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--background-dark);
}

p {
    color: var(--font-color-gray);
    font-weight: 500;
}

/*      CABECERA        */
.cabecera {
    margin-top: 15px;
    font-size: 15px;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    width: var(--window-width);
}
.navbar {
    display: flex;
    gap: 20px;
}
.navbar a {
    text-decoration: none;
    color: var(--font-color-gray);
}
.navbar a:hover {
    transition: all .4s cubic-bezier(.15,.75,.45,.95) 0s;
    animation: 10s ease 0s infinite alternate none running rainbow;
}
#logo {
    max-width: 60px;
}
#mode {
    max-width: 20px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .cabecera {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    #logo {
        max-width: 100px;
    }
}

/*      CONTENEDOR        */
.contenedor {
    width: var(--window-width);
    margin-top: 0px;
}
#profile-picture {
    max-width: 100px;
    clip-path: circle(50% at 50% 50%);
}
.contenedor--intro h1 {
    padding: 20px 0 15px 0;
    letter-spacing: -.025em;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.contenedor--intro p {
    width: 100%;
}


/*      CONTENEDOR SOCIAL       */
.contenedor--social {
    margin: 80px 0;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
}
.proyectos,
.instagram,
.correo {
    /* background-color: #b4c9e68e; */
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    border: var(--border-home);
    border-radius: 15px;
}
.proyectos {
    grid-column: 1/3;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#proyectos--titulo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 20px;
}
.preview {
    max-width: 130px;
    width: 100%;
    border-radius: 5px;
    transition: all 0s ease-out;

}
.preview:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .4s ease-out;
    filter: opacity(70%);
}
#preview1 {
    grid-column: 2/4;
}
#preview2 {
    grid-column: 4/6;
}
#preview3 {
    grid-column: 2/4;
}
#preview4 {
    grid-column: 4/6;
}
.instagram {
    grid-column: 3/4;
}
.correo {
    grid-column: 1/2;
}
.mapa {
    grid-column: 2/4;
}
#icon {
    width: 30px;
}
.profile {
    font-size: 15px;
}
.follow {
    align-self: end;
}
.mapa iframe {
    border: var(--border-home);
    border-radius: 15px;
}
.ver-mas {
    color: var(--font-color-white);
    background-color: var(--background-dark);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 15px;
}
.ver-mas:hover {
    border: var(--border-home);
    background-color: var(--font-color-white) !important;
    color: var(--font-color-dark);
}
#ver-mas {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
}

/*      CONTENEDOR FRASE        */
.contenedor--phrase {
    margin: 50px 0;
    font-size: 20px;
}
.especial {
    transition: all .4s cubic-bezier(.15,.75,.45,.95) 0s;
    animation: 10s ease 0s infinite alternate none running rainbow;
    text-align: end;
}


/*      MEDIAS QUERY        */
@media (max-width: 1600px) {
    :root {
        --window-width: 50%;
    }
}
@media (max-width: 1400px) {
    :root {
        --window-width: 55%;
    }
}
@media (max-width: 1200px) {
    :root {
        --window-width: 75%;
    }
}
@media (max-width: 800px) {
    :root {
        --window-width: 90%;
    }
    .contenedor--social {
        display: flex;
        flex-direction: column;
    }
    .proyectos {
        grid-column: 1/5;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .preview {
        max-width: 1000px;
    }
    .mapa iframe{
        min-height: 500px;
    }
    #ver-mas {
        align-self: start;
    }
}

/*    TEST     */
.intro {
    display: flex;
    justify-content: space-between;
}
.intro h1{
    align-self: end;
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: white;  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;  
    height: 10px;
}

@media (max-width: 800px) {
    .intro {
        flex-direction: column-reverse;
    }
    .intro h1 {
        align-self: start;
        font-size: 27px;
    }
    .contenedor--intro h1 {
        padding: 0;
    }
    .contenedor--intro p {
        font-size: 16px;
    }
    .contenedor--social {
        margin: 30px 0;
    }
}